Source: vaporos-flatpak-manager
Section: admin
Priority: optional
Maintainer: Wouter Wijsman <wwijsman@live.nl>
Build-Depends: debhelper (>= 11), dh-python, python-all, python-setuptools
Standards-Version: 4.3.0
Homepage: http://vaporos.net/
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
#Testsuite: autopkgtest-pkg-python

Package: vaporos-flatpak-manager
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, flatpak, python-pygame, python-requests, python-appdirs, fonts-liberation
Conflicts: python-vaporos-flatpak-manager
Description: A Flatpak front-end with gamepad support
 VaporOS Flatpak Manager gives SteamOS users the ability to easily install
 software from the Flathub repo. It uses pygame for the interface.
